/* *** Font Family *** */
$font-stack: 'Roboto', sans-serif;

/* *** Text Colors *** */
$font-color: #000;

/* *** Button Colors *** */
$primary-color: #65B7C3;

/* *** Background Colors *** */
$light-gray-bg: #F9F9F9;
$footer-color: #E6F4F1;
$seperators-color: #29828D;

/* *** Media Queries *** */
$tablet-width: 766px;
$desktop-width: 1000px;