/* *** ALL *** */
.salat-space {
    margin: 72px 0;
}

.salat-holder {
    @include desktop {
        @include content-container;
        display: flex;
        flex-wrap: wrap;
    }
}
.hover-state:hover {
    text-decoration: none;
}

.seperator-cards {
    background-color: $seperators-color;
    height: 4px;
    width: 90%;
    @include desktop {
        width: 70%;
        margin: 0 auto;
    }
}

.title-holder {
    margin: 64px 0 48px;
}

.change-menu-holder {
    max-width: 1300px;
    margin: 48px auto 120px;
}

.change-meal {
    background-color: $light-gray-bg;
    border-radius: 5px;
    padding: 16px 0;
    @include desktop {
        width: 80%;
    }
}

.change-options {
    margin: 80px 0 120px;
}

.total-calc {
    background-color: $footer-color;
    @include tablet {
        padding-bottom: 90px;
    }
}
