header {
    background-color: $light-gray-bg;
}
.m-nav  {
    width: 100%;
    .nav-logo {
        height: 60px;
        width: auto;
    }
}
.m-nav2  {
    // width: 40%;
    .nav-menu {
        height: 22px;
        width: auto;
    }
}

